Bootcamp Final Project

Read the three files into python as dataframes

In [1]:
import pandas as pd

Loading libraries

In [2]:
import seaborn as sns
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
data = pd.read_csv('survey Mental health.csv')

In [4]:
print(list(data.columns))

['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed', 'family_history', 'treatment', 'work_interfere', 'no_employees', 'remote_work', 'tech_company', 'benefits', 'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave', 'mental_health_consequence', 'phys_health_consequence', 'coworkers', 'supervisor', 'mental_health_interview', 'phys_health_interview', 'mental_vs_physical', 'obs_consequence', 'comments']

In [5]:
# Show the DataFrame's shape.

In [6]:
print(data.shape)

(1259, 27)

In [7]:
data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,27-08-2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,Jun-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,27-08-2014 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,27-08-2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,Jun-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,27-08-2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,27-08-2014 11:30,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [8]:
#Standardize header names

In [9]:
print("Lowercase version data")
for column in data.columns:
    print(column.lower())

Lowercase version data
timestamp
age
gender
country
state
self_employed
family_history
treatment
work_interfere
no_employees
remote_work
tech_company
benefits
care_options
wellness_program
seek_help
anonymity
leave
mental_health_consequence
phys_health_consequence
coworkers
supervisor
mental_health_interview
phys_health_interview
mental_vs_physical
obs_consequence
comments

In [10]:
#Handling missing values

In [11]:
data.isna().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [12]:
data1= data.drop(['comments','state','self_employed'], axis=1)

In [13]:
display (data1)

,Timestamp,Age,Gender,Country,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,27-08-2014 11:29,37,Female,United States,No,Yes,Often,Jun-25,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,27-08-2014 11:29,44,M,United States,No,No,Rarely,More than 1000,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,27-08-2014 11:29,32,Male,Canada,No,No,Rarely,Jun-25,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,27-08-2014 11:29,31,Male,United Kingdom,Yes,Yes,Often,26-100,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,27-08-2014 11:30,31,Male,United States,No,No,Never,100-500,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,12-09-2015 11:17,26,male,United Kingdom,No,Yes,NaN,26-100,No,Yes,...,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No
1255,26-09-2015 01:07,32,Male,United States,Yes,Yes,Often,26-100,Yes,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,07-11-2015 12:36,34,male,United States,Yes,Yes,Sometimes,More than 1000,No,Yes,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1257,30-11-2015 21:25,46,f,United States,No,No,NaN,100-500,Yes,Yes,...,Don't know,Don't know,Yes,No,No,No,No,No,No,No
1258,01-02-2016 23:04,25,Male,United States,Yes,Yes,Sometimes,26-100,No,No,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [14]:
data1.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
dtype: object

In [15]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   family_history             1259 non-null   object
 5   treatment                  1259 non-null   object
 6   work_interfere             995 non-null    object
 7   no_employees               1259 non-null   object
 8   remote_work                1259 non-null   object
 9   tech_company               1259 non-null   object
 10  benefits                   1259 non-null   object
 11  care_options               1259 non-null   object
 12  wellness_program           1259 non-null   object
 13  seek_help                  1259 non-null   object
 14  anonymity                  1259 non-null   object
 15  leave                      1259 non-null   object
 16  mental_health_consequence  1259 non-null   object
 17  phys_health_consequence    1259 non-null   object
 18  coworkers                  1259 non-null   object
 19  supervisor                 1259 non-null   object
 20  mental_health_interview    1259 non-null   object
 21  phys_health_interview      1259 non-null   object
 22  mental_vs_physical         1259 non-null   object
 23  obs_consequence            1259 non-null   object
dtypes: int64(1), object(23)
memory usage: 236.2+ KB

In [16]:
data1['work_interfere']

0           Often
1          Rarely
2          Rarely
3           Often
4           Never
          ...
1254          NaN
1255        Often
1256    Sometimes
1257          NaN
1258    Sometimes
Name: work_interfere, Length: 1259, dtype: object

In [17]:
data1['work_interfere'].unique()

array(['Often', 'Rarely', 'Never', 'Sometimes', nan], dtype=object)

In [18]:
data1['work_interfere'].value_counts()

Sometimes    465
Never        213
Rarely       173
Often        144
Name: work_interfere, dtype: int64

In [19]:
data1['family_history'].value_counts()

No     767
Yes    492
Name: family_history, dtype: int64

In [20]:
data1['treatment'].value_counts()

Yes    637
No     622
Name: treatment, dtype: int64

In [22]:
data1['remote_work'].value_counts()

No     883
Yes    376
Name: remote_work, dtype: int64

In [23]:
data1['tech_company'].value_counts()

Yes    1031
No      228
Name: tech_company, dtype: int64

In [24]:
data1['anonymity'].value_counts()

Don't know    819
Yes           375
No             65
Name: anonymity, dtype: int64

In [26]:
data1['Timestamp'].value_counts()

27-08-2014 12:31    8
27-08-2014 15:23    8
27-08-2014 15:24    8
27-08-2014 11:43    7
27-08-2014 15:22    6
                   ..
28-08-2014 08:39    1
28-08-2014 08:40    1
28-08-2014 09:02    1
28-08-2014 09:09    1
01-02-2016 23:04    1
Name: Timestamp, Length: 884, dtype: int64

In [27]:
data1['Gender'].value_counts()

Male                                              615
male                                              206
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Male                                                3
Woman                                               3
Cis Male                                            2
Man                                                 2
Female (trans)                                      2
Female                                              2
Trans woman                                         1
msle                                                1
male leaning androgynous                            1
Neuter                                              1
cis male                                            1
queer                                               1
Female (cis)                                        1
Mail                                                1
cis-female/femme                                    1
A little about you                                  1
Malr                                                1
p                                                   1
femail                                              1
Cis Man                                             1
Guy (-ish) ^_^                                      1
Enby                                                1
Agender                                             1
Androgyne                                           1
Male-ish                                            1
maile                                               1
Trans-female                                        1
Cis Female                                          1
something kinda male?                               1
Mal                                                 1
Male (CIS)                                          1
queer/she/they                                      1
non-binary                                          1
Femake                                              1
woman                                               1
Nah                                                 1
All                                                 1
fluid                                               1
Genderqueer                                         1
ostensibly male, unsure what that really means      1
Name: Gender, dtype: int64